 @import url('https://fonts.googleapis.com/css?family=Aldrich');
nav ul{
	font-family: 'Aldrich', sans-serif;
    padding: 250px 0px 00px 00px;
    float: left;

}
nav ul li{
	margin-left: 220px;
}
nav ul li a{
	font-size: 25px;
}
.edit2:hover{
	transition-duration: 0.5s;
	background-color: #dd7e26;
	padding: 12px;
	border-radius: 10px;
}
.edit1,ul,li,a{
	display: inline;
	float: right;
    font-family: 'Aldrich', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
